@import "../../assets/style/app";

.episodes {
  @include inner();

  .episodesList {
    background: #FFF;
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    .episodesListItem {
      padding: 5px 10px;
      text-decoration: none;
      font-size: 14px;
      transition: 0.3s;
      color: midnightblue;

      @include desktop() {
        font-size: 18px;
      }

      &:nth-child(odd) {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
      }

      &:hover {
        color: crimson;
      }
    }

  }
}
