@import "../../assets/style/app";

.mainLayout {
  position: relative;
  background-image: url(../../assets/jpg/back.jpg);
  background-repeat: repeat;

  .main {
    min-height: 100vh;
    box-sizing: border-box;
    padding: 56px 16px 16px;

    @include desktop() {
      padding: 84px 24px 24px;
    }
  }
}
