@import "../../assets/style/app";

.header {
  background: royalblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 800;
  padding: 0 20px;
  box-sizing: border-box;
  transition: 0.3s;

  @include desktop() {
    height: 60px;
    padding: 0 30px;
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    @include inner();

    .logo {
      display: flex;
      align-items: center;
      text-decoration: none;

      img {
        display: block;
        width: 30px;
        height: auto;

        @include desktop {
          width: 45px;
        }
      }

      span {
        margin-left: 8px;
        color: #FFF;
      }
    }

    .links {
      @include onlyDesktop(flex) {
        align-items: center;

        .link {
          @include PermanentMarker();
          font-size: 24px;
          text-decoration: none;
          color: #FFF;
          transition: 0.3s;

          &:hover {
            color: #CCC;
          }

          &_active {
            color: lime;

            &:hover {
              color: lime;
            }
          }

          &:not(:first-child) {
            margin-left: 30px;
          }
        }
      }
    }

    .burgerBtn {
      @include onlyMobile(flex) {
        color: #FFF;
        transition: 0.3s;
      }

      &_showBurgerMenu {
        ///color: #000000;
      }
    }


  }



}
